<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ticketing Tool</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <style>
        body {
    background-color: #dcd9d978 !important;
}
    </style>
</head>

<ul class="nav nav-tabs" style="
    background-color: #ffff;">
   <li><a href="#itsm" data-toggle="tab">ITSM</a></li>
   <li><a href="#users" data-toggle="tab">Users</a></li>
   <li><a href="#accesslevel" data-toggle="tab">Access Level</a></li>

</ul>

<div class="tab-content">
    <div class="tab-pane active" id="itsm" >
        <div class=" col-md-10" style="
    padding: 10px;
    padding-left: 20px;
    background-color: #f5f5f5;
    margin-left: 10%;
    margin-top: 3%;
">
            <h6 class="col-xs-12" style="
    color: #1c6a98;
    font-size: 20px;
    font-weight: bold;
"> Configure ticketing tool...</h6>

        <form method="post" action="/tc_tool/">
            {% csrf_token %}

            <div class="col-md-12">
                <div class="col-md-6">Select Tool</div>
                <div class="col-md-6">
                     <select name="toolnames" class="col-md-6">
                        {% for entry in tools_list %}
                            <option value="{{ entry.toolName }}">{{entry.toolName}}</option>
                         {% endfor %}
                    </select>
                </div>
            </div>
            <div class = "col-md-12" style="padding-top: 10px;">
                <div class="col-md-6">Username</div>
                <div class="col-md-6"> <input type="text" align="center" name="username"></div>
            </div>
            <div class = "col-md-12" style="padding-top: 10px;">
                <div class="col-md-6">Athentication Type</div>
            </div>
            <div class = "col-md-4"><input class="col-md-4 float-right" type="submit" value="Submit" /></div>



        </form>
        </div>
    </div>
    <div class="tab-pane" id="users">Users Page</div>
    <div class="tab-pane" id="accesslevel">Access Level Page</div>
</div>
